.advantages {
  @include flex(column, flex-start, flex-start, nowrap);
  @include padding-left-right($main-padding-mobile);
  width: 100%;
  margin-top: 0;
  background-color: inherit;
}

.advantages__title {
  @include font-color-size($title-font-color, none, $page-title-size, $weight-regular, 60px);
  font-family: $oswald;
  margin-bottom: 0;
}

.advantages__list {
  @include list-style-none;
  @include margin-left-right(auto);
  @include flex(column, flex-start, flex-start, nowrap);
  background-color: inherit;
  width: 280px;
  // @include pading-left-right($main-padding-mobile);
}

.advantages__item {
  @include flex(row, flex-start, center, nowrap);
  width: 100%;
  margin-bottom: 20px;
}

.advantages__image {
  min-width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $main-color;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 50%;

  &--leaf {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--powder {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--dining {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--clock {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

.advantages__description {
  width: auto;
  font-family: $arialmt;

  @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 18px);
  word-wrap: break-word;
}
