.button {
  @include flex(column, center,center, nowrap);
  @include size(280px, 40px);
  @include margin-left-right($main-padding-mobile);
  @include link-style;
  @include font-color-size($contrast-font-color, uppercase, $button-font-size, $weight-regular, 20px);
  font-family: $oswald;
  background-color: $main-color;
  border: 0;
  padding: 0;

  &--preview {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  &--card,
  &--card-plus {
    @include margin-left-right(0);
  }

  &--card-plus {
    background-color: $add-background-color;
    color: $main-font-color;
  }

  // &--form {
  // }
}

@media (min-width: $tablet-width) {
  .button {
    @include font-color-size($contrast-font-color, uppercase, 16px, $weight-regular, 20px);
    @include size(245px, 52px);
    font-family: $oswald;
    margin-top: 20px;

    &--card-plus {
      color: $main-font-color;
    }
  }

  .button--preview {
    @include margin-left-right(0);
  }

  .button--card,
  .button--card-plus {
    @include margin-left-right($card-padding-tablet);
    width: 100%;
    height: 40px;
    // @include size(249px, 40px);
  }
}

@media (min-width: $desktop-width) {
  .button {
    margin-top: 25px;
  }

  .button--card {
    @include margin-left-right($card-padding-desktop);
  }

  .button--card.button--card-other {
    width: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
