.button {
  @include flex(column, center,center, nowrap);
  @include size(100%, 40px);
  @include margin-left-right($main-padding-mobile);
  @include link-style;
  @include font-color-size($contrast-font-color, uppercase, $button-font-size, $weight-regular, 20px);
  background-color: $main-color;
  &--preview {
    font-size: 14px;
    line-height: 18px;
  }
}
