.categorie {
  @include flex(column, flex-start, center, nowrap);
  @include padding-left-right($main-padding-mobile);
  width: 100%;
  margin-top: 0;
  background-color: inherit;
}

.categorie__list {
  @include list-style-none;
  @include padding-left-right($main-padding-mobile);
  @include flex(column, flex-start, center, nowrap);
  width: $mobile-width;
  padding-top: 2px;
}

.categorie__card {
  @include flex(row, flex-start, stretch, wrap);
  @include padding-left-right(21px);
  width: $mobile-width - (2 * $main-padding-mobile);
  // min-height: 266px;
  background-color: $add-background-color;
  margin-top: 20px;
  padding-bottom: 22px;
}

.categorie__image {
  @include size(50px, 50px);
  position: relative;
  margin-right: 20px;
  margin-top: 24px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle r="25" cx="50%25" cy="50%25" fill="%2368b738"%3E%3C/circle%3E/%3E%3C/svg%3E');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.categorie__image--weight-down::before,
.categorie__image--weight-up::before {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle r="25" cx="50%25" cy="50%25" fill="%2368b738"%3E%3C/circle%3E/%3E%3C/svg%3E');
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
}

.categorie__image--weight-down::before {
  @include size(50px, 49px);
  background-image: url("../../img/icon-cat-slim.svg");
}

.categorie__image--weight-up::before {
  @include size(67px, 50px);
  background-image: url("../../img/icon-cat-pro.svg");
}

.categorie__name {
  @include font-color-size($title-font-color, uppercase, $card-title-size, $weight-regular, 37px);
  word-wrap: break-word;
  margin-top: 30px;
}

.categorie__description {
  @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 18px);
  font-family: $arialmt;
  word-wrap: break-word;
  width: 100%;
  padding-bottom: 22px;
  border-bottom: 1px solid $border-color;
  margin-top: 6px;
  margin-bottom: 19px;
}

.categorie__link {
  @include link-style;
  @include font-color-size($title-font-color, uppercase, $card-title-font-size, $weight-regular, 16px);
  position: relative;
  display: block;
  max-width: calc(100% - 14px - 24px - 36px);
  word-wrap: break-word;
  margin-left: -2px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    bottom: 25%;
    // transform: translate(-100%, 0);
    margin-left: 12px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
  }

  &:hover::after {
    width: 33px;
    background-image: url("../../img/icon-right-arrow-verylong.svg");
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categorie {
    @include padding-left-right($main-padding-tablet);
  }

  .categorie__list {
    @include padding-left-right(0);
    width: ($tablet-width / 2) - $main-padding-tablet;
  }

  .categorie__card {
    @include flex(column, flex-start, flex-start, wrap);
    width: $tablet-width - (2 * $main-padding-tablet);
    height: 372px;
    padding-left: 53px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .categorie__name,
  .categorie__description,
  .categorie__link {
    width: 340px;
  }

  .categorie__name {
    @include font-color-size($title-font-color, uppercase, $page-title-size, $weight-regular, 37px);
    margin-top: 75px;
    margin-bottom: 20px;
  }

  .categorie__description {
    @include font-color-size($main-font-color, none, 16px, $weight-regular, 24px);
    border-bottom: 0;
    margin-bottom: 34px;
  }

  .categorie__link {
    @include font-color-size($title-font-color, uppercase, 20px, $weight-regular, 20px);
    margin-left: 0;
    width: auto;

    &::after {
      margin-left: 24px;
    }
  }

  .categorie__image {
    @include size(200px, 200px);
    order: 1;
    margin-left: auto;
    margin-right: 41px;
    margin-top: 92px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle r="100" cx="50%25" cy="50%25" fill="%2368b738"%3E%3C/circle%3E/%3E%3C/svg%3E');
  }

  .categorie__image--weight-down::before {
    @include size(140px, 194px);
    transform: translate(-50%, -58%);
  }

  .categorie__image--weight-up::before {
    @include size(268px, 112px);
  }
}

@media (min-width: $desktop-width) {
  .categorie {
    @include padding-left-right($main-padding-desktop);
  }

  .categorie__list {
    // @include padding-left-right($main-padding-mobile);
    @include flex(row, space-between, stretch, wrap);
    width: $desktop-width - ($main-padding-desktop * 2);
    margin-top: 80px;
    height: auto;
  }

  .categorie__card {
    @include flex(row, flex-start, flex-start, wrap);
    width: 570px;
    height: auto;
    padding-bottom: 62px;
  }

  .categorie__image {
    @include size(100px, 100px);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle r="50" cx="50%25" cy="50%25" fill="%2368b738"%3E%3C/circle%3E/%3E%3C/svg%3E');
    order: 0;
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 22px;
    margin-right: 60px;
  }

  .categorie__image--weight-down::before {
    // transform: translate(-50%,-58%);
    @include size(70px, 97px);
  }

  .categorie__image--weight-up::before {
    @include size(134px, 56px);
  }

  .categorie__name {
    margin-top: 74px;
  }

  .categorie__description {
    width: 100%;
    padding-right: 6px;
    padding-bottom: 0;
    margin-top: 17px;
    margin-bottom: 32px;
  }

  .categorie__name,
  .categorie__link {
    width: auto;
  }
}
