.categorie {
  @include flex(column, flex-start, center, nowrap);
  @include padding-left-right($main-padding-mobile);
  width: 100%;
  margin-top: 0;
  background-color: inherit;
}

.categorie__list {
  @include list-style-none;
  @include padding-left-right($main-padding-mobile);
  @include flex(column, flex-start, center, nowrap);
  width: $mobile-width;
}

.categorie__card {
  @include flex(row, flex-start, stretch, wrap);
  width: $mobile-width - (2 * $main-padding-mobile);
  // min-height: 266px;
  background-color: $add-background-color;
  margin-top: 20px;
  padding-left: 21px;
  padding-right: 36px;
  padding-bottom: 18px;
}
//
// .categorie__card-title {
//   @include flex(row, flex-start, center, wrap);
//   width: 100%;
// }

.categorie__image {
  @include size(50px, 50px);
  margin-right: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &--weight-down {
    background-image: url("../../img/icon-cat-slim.svg");
  }

  &--weight-up {
    background-image: url("../../img/icon-cat-pro.svg");
  }
}

.categorie__name {
  @include font-color-size($title-font-color, uppercase, $card-title-size, $weight-regular, 37px);
  word-wrap: break-word;
}

.categorie__description {
  @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 18px);
  font-family: $arialmt;
  word-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.categorie__link {
  @include link-style;
  @include font-color-size($title-font-color, uppercase, $card-title-font-size, $weight-regular, 16px);
  display: block;
  max-width: calc(100% - 14px - 24px - 36px);
  word-wrap: break-word;

  &::after {
    content: "";
    display: block;
    position: relative;
    left: 100%;
    bottom: 50%;
    transform: translate(-100%, 0);
    margin-left: 14px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
  }
}

@media (min-width: $tablet-width) {
  .categorie {
    @include padding-left-right($main-padding-tablet);
  }

  .categorie__list {
    @include padding-left-right(0);
    width: ($tablet-width / 2) - $main-padding-tablet;
  }

  .categorie__card {
    @include flex(column, flex-start, flex-start, wrap);
    width: $tablet-width - (2 * $main-padding-tablet);
    height: 372px;
    padding-left: 53px;
  }

  .categorie__name,
  .categorie__description,
  .categorie__link {
    width: 340px;
  }

  .categorie__name {
    // @include font-color-size($title-font-color, uppercase, $card-title-size, $weight-regular, 37px);
  }

  .categorie__description {
    // @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 18px);
    border-bottom: 0;
  }

  .categorie__link {
    &::after {
      // margin-left: 30px;
    }
  }

  .categorie__image {
    @include size(200px, 200px);
    // margin-right: 20px;
    // flex-basis: 100%;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .categorie {
    @include padding-left-right($main-padding-desktop);
  }

  .categorie__list {
    // @include padding-left-right($main-padding-mobile);
    @include flex(row, space-between, center, wrap);
    width: $desktop-width - ($main-padding-desktop * 2);
  }

  .categorie__card {
    @include flex(row, flex-start, stretch, wrap);
    width: 570px;
  }

  .categorie__image {
    @include size(100px, 100px);
    // margin-right: 20px;
    // flex-basis: 100%;
    order: 0;
  }

  .categorie__description {
    width: 100%;
  }

  .categorie__name,
  .categorie__link {
    width: auto;
  }
}
