.contacts {
  background-color: $add-background-color;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--index {
    background-color: $background-color;
  }
}

.contacts__address-block {
  @include margin-left-right(auto);
  @include flex(row, flex-start, baseline, nowrap);
  width: $mobile-width - (2 * $main-padding-mobile);
  padding-top: 26px;
  padding-bottom: 10px;
}

.contacts__title {
  @include font-color-size($title-font-color, uppercase, $card-title-font-size, $weight-regular, 20px);
  @include flex(row, flex-start, center, wrap);
  font-family: $oswald;
  flex-basis: 124px;
  margin-top: 1px;
}

.contacts__address {
  @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 20px);
  font-family: $arialmt;
  font-style: normal;
  flex-basis: 123px;
  flex-grow: 1;
  margin-left: 18px;
}

.contacts__map-block {
  width: 100%;
  height: 362px;
  margin-bottom: -2px;
  border: 0;
  overflow: hidden;
  position: relative;
  background-image: url("../../img/bg-map-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
  }
}

.contacts__map {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.contacts__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 0;
  background: none;
  width: 55px;
  height: 53px;
  margin: 0;
  padding: 0;
}

.contacts__map-pin {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.contacts__br-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__address-block {
    width: $tablet-width - (2 * ($main-padding-tablet + 41px));
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    padding-top: 64px;
    min-height: 201px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 1.25em;
    flex-basis: 160px;
    margin-bottom: 0;
  }

  .contacts__address {
    flex-basis: 160px;
    flex-grow: 0;
    font-size: 16px;
    text-align: right;
  }

  .contacts__map-block {
    height: 396px;
    background-image: url("../../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
    }
  }

  .contacts__br-tablet {
    display:inline;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__address-block {
    position: absolute;
    z-index: 1;
    background-color: $background-color;
    width: 570px;
    left: calc((100% - 1220px) / 2);
    top: 95px;
  }

  .contacts__address {
    padding-right: 76px;
    flex-basis: 244px;
    text-align: left;
    margin-left: 0;
  }

  .contacts__title {
    padding-left: 76px;
    flex-basis: 230px;
  }

  .contacts__map-block {
    height: 399px;
    background-image: url("../../img/bg-map-desktop@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }
}
