.copyright {
  padding-bottom: 8px;
}

.copyright__link {
  @include link-style;
  opacity: 0.9999; //for IE

  &:hover svg {
    fill: $main-color;
  }

  &:hover p {
    color: $main-color;

  }

  &:active,
  &:active svg,
  &:active p,
  & p:active,//for IE
  & svg:active { //for IE
    opacity: 0.3;
  }
}

.copyright__list {
  @include list-style-none;
  @include flex(row, space-between, center, wrap);
  width: 100%;
  height: 100%;
}

.copyright__item {
  @include flex(row, center, center, wrap);
  width: auto;

  &:first-child {
    margin-left: -3px;
  }

  &:last-child {
    margin-right: -6px;
    margin-top: 3px;
  }
}

.copyright__text {
  @include font-color-size($main-font-color, none, 16px, $weight-regular, 16px);
  word-wrap: break-word;
  font-family: $arialmt;
}

.copyright__image-block {
  @include flex(row, center, center, nowrap);
  width: 41px;
  height: 41px;
}

.copyright__image {
  width: 60px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 14px;
    padding-bottom: 0;
  }

  .copyright__list {
    width: auto;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .copyright__item {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: -7px;
      margin-top: 0;
      margin-left: 15px;
    }
  }

  .copyright__image-block {
    margin: 0;
    width: 41px;
    height: 41px;
  }
}
