.example {
  @include padding-left-right($main-padding-mobile);
  background-color: $add-background-color;
  width: 100%;
}

.example__desk {
  width: $mobile-width - (2 * $main-padding-mobile);
  margin-left: auto;
  margin-right: auto;
}

.example__wrapper {
  @include flex(column, flex-start, center, nowrap);
  @include margin-left-right(auto);
  width: $mobile-width - (2 * $main-padding-mobile);
}

.example__title {
  @include font-color-size($title-font-color, none, $page-title-size, $weight-regular, 60px);
  width: $mobile-width - (2 * $main-padding-mobile);
  font-family: $oswald;
  margin-top: 16px;
  margin-bottom: 10px;
}

.example__description {
  @include font-color-size($main-font-color, none, $main-font-size, $weight-regular, 18px);
  font-family: $arialmt;
  width: 100%;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.example__progress-block {
  @include flex(row, center, center, wrap);
  width: 100%;
  margin-bottom: 34px;
}

.example__progress {
  @include flex(column, center, center, wrap);
  position: relative;
  background-color: inherit;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid $border-color;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.example__progres-title {
  @include padding-left-right(16px);
  @include font-color-size($main-font-color, lowercase, 12px, $weight-regular, 12px);
  font-family: $arialmt;
  background-color: $add-background-color;
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%, 24px);
  text-align: center;
}

.example__progress-value {
  @include font-color-size($title-font-color, uppercase, $card-title-size, $weight-regular, 24px);
  font-family: $oswald;
}

.example__cost {
  @include font-color-size($title-font-color, uppercase, $main-font-size, $weight-regular, 20px);
  word-wrap: break-word;
  text-align: center;
  margin-top: 0;
}

.example__slide {
  margin-top: 20px;
  width: $mobile-width;
}

@media (min-width: $tablet-width) {
  .example {
    @include padding-left-right($main-padding-tablet);
    background-color: $background-color;
    width: 100%;
    border-top: 1px solid $border-color;
  }

  .example__desk {
    width: $tablet-width - (2 * $main-padding-tablet);
  }

  .example__wrapper {
    @include flex(row, space-between, stretch, wrap);
    width: $tablet-width - (2 * $main-padding-tablet);
  }

  .example__title {
    @include font-color-size($title-font-color, none, $title-font-size-tablet, $weight-regular, 60px);
    width: 100%;
    margin-top: 43px;
    margin-bottom: 40px;
  }

  .example__description {
    @include font-color-size($main-font-color, none, $main-font-size-tablet, $weight-regular, 24px);
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-right: 8px;
    word-wrap: break-word;
  }

  .example__progress-block {
    margin-top: 30px;
    width: auto;
  }

  .example__progress {
    width: 162px;
    height: 72px;
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__progress-value {
    @include font-color-size($title-font-color, uppercase, 30px, $weight-regular, 37px);
    font-family: $oswald;
    margin-bottom: 5px;
  }

  .example__progres-title {
    @include padding-left-right(8px);
    background-color: $background-color;
    font-size: 14px;
    line-height: 1em;
    margin-top: 26px;
    margin-bottom: 0;
  }

  .example__progress--weight .example__progres-title {
    width: 114px;
  }

  .example__progress--time .example__progres-title {
    width: 144px;
  }

  .example__cost {
    @include font-color-size($title-font-color, uppercase, 20px, $weight-regular, 29px);
    width: 25%;
    text-align: right;
    padding-top: 15px;
    margin-top: 21px;
  }

  .example__cost span {
    display: block;
  }

  .example__slide {
    margin-top: 51px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    @include padding-left-right($main-padding-desktop);
    position: relative;
    background-color: transparent;
    border: 0;
  }

  .example__background__desk {
    background: linear-gradient(90deg, $add-background-color $slider-background, $slider-background-color $slider-background);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 192px;
    left: 0;
  }

  .example__desk {
    @include margin-left-right(auto);
    @include flex(row, space-between, stretch, nowrap);
    width: $desktop-width - 2 * $main-padding-desktop;
  }

  .example__wrapper {
    @include margin-left-right(0);
    width: 450px;
    display: block;
    padding-top: 18px;
    padding-bottom: 70px;
  }

  .example__title {
    margin-top: 35px;
  }

  .example__description {
    margin-top: 145px;
    padding-right: 13px;
    margin-bottom: 69px;
    position: relative;
  }

  .example__progress-block {
    justify-content: flex-start;
  }

  .example__cost {
    position: relative;
    width: 100%;
    text-align: left;
    padding-top: 0;
    margin-top: 56px;
    margin-bottom: 0;
  }

  .example__cost span {
    display: inline-block;
    margin-left: 63px;
  }

  .example__slide {
    padding-top: 22px;
    margin-top: 0;
  }

  .example__progres-title {
    background-color: $add-background-color;
  }
}
