.form {
  @include flex(column, flex-start, center, nowrap);
  width: 100%;
}

.form__label {
  @include font-color-size($label-font-color, uppercase, $label-font-size, $weight-regular, 18px);
  font-family: $oswald;
  width: 280px;

  &--text {
    @include flex (row, space-between, center, nowrap);
  }

  &--radio {
    margin-top: 26px;
  }

  &--radio,
  &--checkbox {
    @include flex (row, flex-start, center, nowrap);
    position: relative;
    cursor: pointer;
  }
}

.form__contacts > .form__label--text {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
  }

  &.form__label--email::after {
    width: 17px;
    height: 13px;
    background-image: url("../../img/icon-mail.svg");
    transform: translate(-170%, -50%);
  }

  &.form__label--phone::after {
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-phone.svg");
    transform: translate(-130%, -50%);
  }
}
//
// .form__label--email,
// .form__label--phone {
// }

.form__input {
  &--text,
  &--comment {
    @include font-color-size($main-font-color, uppercase, $label-font-size, $weight-regular, 18px);
    @include padding-left-right (16px);
    font-family: $oswald;
    cursor: text;
    border: 1px solid $border-color;
    // width: 100%;
  }

  &--text {
    flex-grow: 1;
    height: 43px;
    margin-left: 18px;
  }

  &--radio,
  &--checkbox {
    margin-right: 16px;
  }

  &--radio,
  &--checkbox {
    display: none;

    &+p {
      margin-left: 40px;
    }

    &+p::before,
    &:checked+p::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
    }

    &+p::before {
      @include size($radio-size, $radio-size);
      left: 0;
      transform: translate(0, -50%);
      border: 1px solid $border-color;
      background-color: transparent;
    }

  }

  &--radio {
    &+p::before,
    &:checked+p::after {
      border-radius: 50%
    }

    &:checked+p::after {
      @include size(0.4 * $radio-size, 0.4 * $radio-size);
      border-radius: 50%;
      left: $radio-size / 2;
      transform: translate(-50%, -50%);
      background-color: $main-color;
    }
  }

  &--checkbox {
    &+p::before,
    &:checked+p::after {
      border-radius: 0;
    }

    &:checked+p::after {
      @include size(0.5*$radio-size, 0.3*$radio-size);
      background-color: transparent;
      left: $radio-size / 2;
      transform: translate(-50%, -50%);
      transform: rotate(-45deg);
      border-bottom: 1px solid $main-color;
      border-left: 1px solid $main-color;
    }
  }

  //
  // &--checkbox {
  //   display: none;
  //
  //   &+p {
  //     margin-left: 40px;
  //   }
  //
  //   &+p::before,
  //   &:checked+p::after {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     top: 50%;
  //     // border-radius: 50%;
  //   }
  //
  //   &+p::before {
  //     @include size($radio-size, $radio-size);
  //     left: 0;
  //     transform: translate(0, -50%);
  //     border: 1px solid $border-color;
  //     background-color: transparent;
  //   }
  //
  //   &:checked+p::after {
  //     @include size(0.4 * $radio-size, 0.4 * $radio-size);
  //     left: $radio-size / 2;
  //     transform: translate(-50%, -50%);
  //     background-color: $main-color;
  //   }
  //
  // }

  &--comment {
    width: 280px;
    min-height: 150px;
    padding-top: 15px;
  }
}

.form__title,
.form__registration,
.form__type,
.form__contacts,
.form__comment,
.form__additional {
  // @include padding-left-right($main-padding-mobile);
  @include flex(column, flex-start, center, nowrap);

  width: 100%;

  & > * {
    @include margin-left-right($main-padding-mobile);
  }
}
//
// .form__registration,
// .form__contacts {
// }

.form__type {
  // @include flex(column, flex-start, center, nowrap);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 26px;
}

.form__block-title {
  // width: $mobile-width;
  @include margin-left-right(auto);
  @include font-color-size($title-font-color, none, 24px, $weight-regular, 1em);
  text-align: left;
  width: 100%;
  height: 60px;

  &--contacts {
    height: 80px;
  }

  &.title-line {
    @include title-with-line($background-color, $main-color);
  }
}

.form__additional {
  // @include flex(column, flex-start, center, nowrap);
  padding-bottom: 26px;
}
