.form__label {
  @include font-color-size($label-font-color, uppercase, $label-font-size, $weight-regular, 18px);
  @include padding-left-right($main-padding-mobile);
  @include margin-left-right(auto);
  font-family: $oswald;
  width: $mobile-width;

  &--text {
    @include flex (row, space-between, baseline, nowrap);
    margin-bottom: 9px;
  }

  &--radio {
    // margin-top: 26px;
  }

  &--radio,
  &--checkbox {
    @include flex (row, flex-start, center, nowrap);
    position: relative;
    cursor: pointer;
  }
}

.form__label--email,
.form__label--phone {
  position: relative;

  & .icon {
    position: absolute;
    fill: $label-font-color;
    top: 50%;
    right: 0;
  }

  & .form__input:focus + .icon,
  & .form__input:active + .icon {
    fill: $main-color;
  }
}

.form__label--email .icon {
  @include size(17px, 13px);
  transform: translate(-35px, -50%);
}

.form__label--phone .icon {
  @include size(20px, 20px);
  transform: translate(-32px, -50%);
}

.form__input {
  &--text,
  &--comment {
    @include font-color-size($main-font-color, uppercase, $label-font-size, $weight-regular, 18px);
    font-family: $oswald;
    cursor: text;
    border: 1px solid $border-color;
    opacity: 0.5;
    // width: 100%;
  }

  &--text:hover,
  &--comment:hover {
    opacity: 1;
  }

  &--text:active,
  &--comment:active,
  &--text:focus,
  &--comment:focus {
    opacity: 1;
    border: 2px solid #444444;
  }
  //
  // &--text:invalid {
  //   opacity: 1;
  //   border: 2px solid #ff8282;
  // }

  &--text {
    @include padding-left-right (16px);
    flex-grow: 1;
    height: 45px;
    margin-left: 14px;
    padding-left: 14px;
  }

  &--radio,
  &--checkbox {
    display: none;
    margin-right: 16px;

    & + p {
      padding-top: 13px;
      padding-bottom: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 46px;

      &:active {
        opacity: 0.3;
      }
    }

    & + p::before,
    &:checked + p::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
    }

    & + p::before {
      @include size($radio-size, $radio-size);
      left: $main-padding-mobile;
      transform: translate(0, -50%);
      border: 1px solid $border-color;
      background-color: transparent;
    }

    & + p:hover::before {
      border: 1px solid #bababa;
    }

    // & + p::after {
    //   transition: 3s linear;
    // }
  }

  &--radio {
    & + p::before,
    &:checked + p::after {
      border-radius: 50%;
    }

    &:checked + p::after {
      @include size(0.4 * $radio-size, 0.4 * $radio-size);
      border-radius: 50%;
      left: ($radio-size / 2)  +  $main-padding-mobile;
      transform: translate(-50%, -50%);
      background-color: $main-color;
    }
  }

  &--checkbox {
    & + p::before,
    &:checked + p::after {
      border-radius: 0;
    }

    &:checked + p::after {
    @include size(21px, 16px);
      background-image: url("../../img/icon-tick.svg");
      left: $main-padding-mobile + ($radio-size / 2);
      transform: translate(-50%, -50%);
    }
  }

  &--comment {
    @include padding-left-right (12px);
    @include margin-left-right(auto);
    margin-bottom: 10px;
    display: flex;
    width: $mobile-width - (2 * $main-padding-mobile);
    min-height: 150px;
    padding-top: 12px;
  }
}

@media (min-width: $tablet-width) {
  .form__label--email .icon {
    transform: translate(-86px, -50%);
  }

  .form__label--phone .icon {
    transform: translate(-83px, -50%);
  }

  .form__registration .form__label--text {
    margin-bottom: 12px;

    &:first-of-type input {
      margin-left: 18px;
    }

    &:nth-of-type(2) input {
      margin-left: 21px;
    }

    &:nth-of-type(3) input {
      margin-left: 15px;
    }
  }

  .form__contacts .form__label--text {
    margin-bottom: 12px;
    padding-left: 68px;

    & :first-of-type p {
      padding-left: 5px;
    }

    & input {
      padding-left: 20px;
      margin-left: 20px;
    }
  }

  .form__label {
    padding-left: 72px;
    padding-right: 67px;
    width: $tablet-width;
    font-size: 20px;
    line-height: 20px;

    &--radio {
      @include padding-left-right(0);
      width: 100%;

      & p {
        margin-left: 88px;
        padding-top: 16px;
        padding-bottom: 17px;
      }
    }

    &--checkbox {
      width: 343px;
      margin-bottom: 26px;
    }

    &--checkbox p {
      margin-left: 16px;
      // @include paddings-left-right(0);
    }

    &--email p {
      padding-left: 4px;
    }
  }

  .form__input {
    &--text {
      height: 52px;
      padding-left: 17px;
    }

    &--text,
    &--comment {
      font-size: 20px;
      line-height: 20px;
    }

    &--radio,
    &--checkbox {
      & + p::before {
        @include size($radio-size-tablet, $radio-size-tablet);
        left: $main-padding-tablet;
      }
    }

    &--radio {
      &:checked + p::after {
        @include size(0.45 * $radio-size-tablet, 0.45 * $radio-size-tablet);
        border-radius: 50%;
        left: ($radio-size-tablet / 2)  +  $main-padding-tablet;
      }
    }

    &--checkbox {
      &:checked + p::after {
        left: $main-padding-tablet + ($radio-size-tablet / 2);
      }
    }

    &--comment {
      @include padding-left-right(18px);
      width: calc(100% - 70px - 67px);
      min-height: 174px;
      margin-left: 70px;
      margin-right: 67px;
      padding-top: 15px;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__registration .form__label--text {
    @include padding-left-right(0);
    width: 100%;
  }

  .form__contacts .form__label--text {
    width: ($desktop-width - (2 * 40px) - (2 * $main-padding-desktop)) / 2;
    padding: 0;
    margin: 0;
  }

  .form__label--email p {
    padding-left: 2px;
  }

  .form__label--phone input {
    margin-left: 17px;
  }

  .form__label--checkbox {
    width: ($desktop-width - (3 * 80px) - (2 * $main-padding-desktop)) / 4;
    margin: 0;
    margin-right: 80px;
    padding-right: 0;
    padding-left: 42px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .form__input--checkbox + p::before {
    left: 0;
  }
  .form__input--checkbox:checked + p::after {
    left: ($radio-size-tablet / 2);
  }

  .form__input--comment {
    @include margin-left-right(0);
    width: 100%;
  }
}
