.form {
  @include flex(column, flex-start, center, nowrap);
  width: 100%;
  padding-top: 23px;

  &__registration,
  &__type,
  &__contacts,
  &__comment,
  &__additional {
    width: 100%;
  }
}

.form__registration {
  padding-top: 1px;
  padding-bottom: 12px;
  width: 100%;

  & > * {
    @include margin-left-right(auto);
  }
}

.form__type {
  padding-top: 12px;
  // @include flex(column, flex-start, center, nowrap);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 26px;
}

.form__contacts {
  & .form__input--text {
    margin-left: 12px;
  }
}

.form__comment,
.form__additional {
  // @include padding-left-right($main-padding-mobile);
  // @include flex(column, flex-start, center, nowrap);

  & > * {
    @include margin-left-right(auto);
  }
}
//
// .form__registration,
// .form__contacts {
// }

.form__block-title {
  // width: $mobile-width;
  @include margin-left-right(auto);
  @include font-color-size($title-font-color, none, 24px, $weight-regular, 1em);
  text-align: left;
  width: 100%;
  height: 59px;
  margin-bottom: 0;
  margin-top: 18px;

  &--contacts {
    height: 78px;

    p {
      width: 70%;
    }
  }

  &--comment {
    // margin-top: 17px;
    // margin-bottom: 0;
  }

  &--additional {
    height: 51px;
    // margin-top: 18px;
    // margin-bottom: 0;
  }

  // .form__comment .form__block-title--comment {
  //   margin-top: -12px;
  //
  // }

  &.title-line {
    @include title-with-line($background-color, $main-color);
  }
}

.form__additional {
  // @include flex(column, flex-start, center, nowrap);
  padding-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 41px;
  }

  .form__registration {
    padding-top: 0;
  }

  .form__type {
    border: 0;
    padding-top: 44px;
  }

  .form__type-wraper {
    @include margin-left-right(auto);
    width: $tablet-width - 71px - 67px;

    // width: $tablet-width;
    // padding-left: 72px;
    // padding-right: 67px;
    border: 1px solid $border-color;
    // opacity: 0.5;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  .form__comment-wraper {
    @include margin-left-right(auto);
    width: $tablet-width;
  }

  // .form__additional {
  // }

  .form__additional-wraper {
    @include flex(row, flex-start, stretch, wrap);
    @include margin-left-right(auto);
    @include padding-left-right(41px);
    width: $tablet-width;
    // width: $tablet-width;
    // padding-left: 70px;
    // padding-right: 67px;
  }

  .form__button-wraper {
    @include flex(row, space-between, center, wrap);
    @include margin-left-right(auto);
    width: $tablet-width;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 72px;
  }


  .form__block-title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 48px;

    &--contacts {
      margin-bottom: 31px;
    }

    &--comment {
      margin-bottom: 54px;
    }

    &--additional {
      margin-bottom: 40px;
    }


    &.title-line p {
      padding-left: 40px;
      padding-right: 46px;
    }

    &.title-line::after {
      top: 24px;
    }
  }

}

@media (min-width: $desktop-width) {
  .form {
    @include flex(row, center, stretch, wrap);
  }

  .form__registration,
  .form__type {
    width: ($desktop-width - (2 * 40px) - (2 * $main-padding-desktop)) / 2;
    // width: auto;
    // flex-shrink: 0;
  }

  .form__registration {
    // margin-left: $main-padding-desktop;
    margin-left: auto;
    margin-right: 80px;
  }

  .form__type {
    // margin-right: $main-padding-desktop;
    margin-right: auto;
    padding: 0;
    padding-top: 4px;
  }

  .form__type-wraper {
    width: 100%;
  }

  .form__contacts-wraper {
    @include flex(row, space-between, center, wrap);
    @include padding-left-right($main-padding-desktop);
    @include margin-left-right(auto);
    width: $desktop-width;
    margin-bottom: 22px;
  }

  .form__comment {
    margin-bottom: 10px;
  }

  .form__comment-wraper {
    @include padding-left-right($main-padding-desktop);
    width: $desktop-width;
  }

  .form__additional {
    padding-bottom: 34px;
  }

  .form__additional-wraper {
    @include padding-left-right($main-padding-desktop);
    width: $desktop-width;
  }

  .form__block-title {
    margin-top: 40px;
  }

  .form__button-wraper {
    @include padding-left-right($main-padding-desktop);
    width: $desktop-width;
    margin-top: 24px;
    margin-bottom: 84px;
  }
}
