.nav {
  width: 100%;
  position: relative;
}

.nav__toggle {
  &::before {
    content: "";
    position: absolute;
    display: block;
    @include size(65px, 65px);
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    // background-image: url("../img/icon-close.svg");
    // background-size: (18px, 18px);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.nav--opened .nav__toggle::before {
  // content: "";
  // position: absolute;
  // display: block;
  // @include size(65px, 65px);
  // right: 0;
  // top: 0;
  // transform: translate(0, -100%);
  background-image: url("../img/icon-close.svg");
  background-size: (18px, 18px);
  // background-repeat: no-repeat;
  // background-position: center;
}

.nav--closed .nav__toggle::before {
  // content: "";
  // position: absolute;
  // display: block;
  // @include size(65px, 65px);
  // right: 0;
  // top: 0;
  // transform: translate(0, -100%);
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: (24px, 18px);

}


.nav__list {
  @include flex(column, flex-start, center, nowrap);
  width: 100%;
}

.nav__item {
  @include flex(column, center, center, wrap);
  width: 100%;
  min-height: 65px;
  border-bottom: 1px solid $border-color;
}

.nav__link {
  @include link-style();
  @include flex(column, center, center, wrap);
  width: 100%;
  min-height: 65px;
}

.nav__link-text {
  @include padding-left-right($main-padding-mobile);
  @include font-color-size($title-font-color, uppercase, $nav-mobile-size, $weight-medium, 20px);
}

@media (max-width: $mobile-width-only) {
  .nav--closed .nav__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav__toggle {
    display: none;
  }


  .nav__list {
    @include flex(row, flex-end, stretch, wrap);
  }

  .nav__item {
    width: auto;
    height: 110px;
    border: 0;
  }

  .nav__link {
    height: 100%;
  }

  .nav__link-text {
    @include font-color-size($nav-font-color, uppercase, 18px, $weight-regular, 25px);
  }
}

@media (min-width: $desktop-width) {
  .nav__link-text {
    @include font-color-size($title-font-color, uppercase, $nav-mobile-size, $weight-regular, 25px);

    &--index {
      color: $contrast-font-color;
    }
  }
}
