.preview {
  min-height: 480px;
  width: 100%;
  background-color: inherit;
}

.preview__background {
  background: linear-gradient($main-color 0, $main-color 305px, $background-color 306px, $background-color 480px);
  width: 100%;
}

.preview__background-image {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: (50% 0%);
  background-repeat: no-repeat;
  background-size: auto 305px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.preview__wraper {
  @include margin-left-right(auto);
  padding-top: 3px;
  width: $mobile-width - (2 * $main-padding-mobile);
  height: 100%;
}

.preview__title {
  @include font-color-size($contrast-font-color, none, $page-title-size, $weight-regular, 36px);
  font-family: $oswald;
  text-align: center;
  width: 100%;
  word-break: break-all;
  min-height: 1px;
  margin-bottom: 24px;
}

.preview__slogan {
  @include font-color-size($contrast-font-color, uppercase, 14px, $weight-regular, 14px);
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.preview__image {
  width: 280px;
  margin-top: 15px;
}

.preview__button {
  padding-bottom: 0;
}


@media (min-width: $tablet-width) {
  .preview {
    height: auto;
  }

  .preview__background {
    height: 100%;
    background: $background-color;
  }

  .preview__background-image {
    background-image: url("");
  }

  .preview__wraper {
    @include flex(column, flex-start, flex-start, nowrap);
    @include margin-left-right(auto);
    width: $tablet-width - (2 * $main-padding-tablet);
  }

  .preview__wraper picture {
    order: 1;
  }

  .preview__title {
    font-size: 60px;
    line-height: 60px;
    color: $title-font-color;
    width: 420px;
    text-align: left;
    margin-top: 30px;
    margin-left: 86px;
  }

  .preview__slogan {
    font-size: 20px;
    color: $title-font-color;
    margin-left: 87px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .preview__image {
    order: 1;
    margin-top: -80px;
    height: 608px;
    width: 100%;
  }

  .preview__button {
    padding-left: 2px;
    margin-left: 89px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    min-height: 696px;
    margin-top: -167px;
  }

  .preview__background {
    width: 100%;
    background: linear-gradient(90deg, $background-color 0%, $background-color 50%, $main-color 50%, $main-color 100%);
  }

  .preview__background-image {
    @include margin-left-right(auto);
    width: $desktop-width;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: (100% 0%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 696px;
    position: relative;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }

  .preview__wraper {
    width: $desktop-width - (2 * $main-padding-desktop);
    padding-top: 191px;
    flex-wrap: wrap;
  }

  .preview__title {
    margin-left: 78px;
  }

  .preview__slogan {
    width: auto;
  }

  .preview__slogan,
  .preview__button {
    margin-left: 79px;
  }

  .preview__image {
    height: 499px;
    width: 552px;
    margin-top: -49px;
    margin-left: -266px;
  }
}
