@mixin slider-thumb-mobile {
  box-sizing: border-box;
  appearance: none;
  height: 6px;
  width: 6px;
  border: 0;
  border-radius: 3px;
  background-color: $main-color;
  cursor: pointer;
}

@mixin slider-thumb-tablet {
  box-sizing: border-box;
  appearance: none;
  height: 34px;
  width: 34px;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.15),
    inset 0 0 0 12px $background-color;
  border: 1px solid #cdcdcd;
  background-color: $main-color;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;

  &:hover {
    box-shadow:
      inset 0 0 0 13px $background-color,
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow:
      inset 0 0 0 12px $background-color,
      0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid $main-color;
  }
}

@mixin slider-track-mobile {
  box-sizing: border-box;
  height: 6px;
  background-color: $background-color;
  cursor: pointer;
}

@mixin slider-track-tablet {
  box-sizing: border-box;
  height: 6px;
  border-radius: 3px;
  background-color: #dcdcdc;
  cursor: pointer;
}

.slide__slider-wraper {
  display: flex;
  width: 84px;
  height: 14px;
  border: 1px solid $border-color;
  border-radius: 7px;
  background-color: $background-color;
}

.slide__slider {
  margin: auto;
  outline: none;
  appearance: none;
  position: relative;
  overflow: hidden;
  width: 72px;
  height: 6px;
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

/* All the same stuff for Webkit */
.slide__slider::-webkit-slider-thumb {
  @include slider-thumb-mobile;
  box-shadow: -103px 0 0 100px $main-color;
}

.slide__slider::-webkit-slider-runnable-track {
  @include slider-track-mobile;
}

/* All the same stuff for Firefox */
.slide__slider::-moz-range-thumb {
  @include slider-thumb-mobile;
  box-shadow: -103px 0 0 100px $main-color;
}

.slide__slider::-moz-range-track {
  @include slider-track-mobile;
}

/* All the same stuff for IE */
.slide__slider::-ms-thumb {
  @include slider-thumb-mobile;
}
//IE
.slide__slider::-ms-track {
  @include slider-track-mobile;
  color: transparent;
  border: 0;
}

.slide__slider::-ms-fill-lower {
  background: $main-color;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-tooltip {
  display: none;
}

@media (min-width: $tablet-width) {
  .slide__slider-wraper {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0;
  }

  .slide__slider {
    appearance: none;
    overflow: visible;
    width: 428px;
    height: 43px;
    background-color: transparent;
  }

  /* All the same stuff for Webkit */
  .slide__slider::-webkit-slider-thumb {
    @include slider-thumb-tablet;
    margin-top: -14px;
  }

  .slide__slider::-webkit-slider-runnable-track {
    @include slider-track-tablet;
  }

  /* All the same stuff for Firefox */
  .slide__slider::-moz-range-thumb {
    @include slider-thumb-tablet;
  }

  .slide__slider::-moz-range-track {
    @include slider-track-tablet;
  }

  /* All the same stuff for IE */
  .slide__slider::-ms-thumb {
    @include slider-thumb-tablet;
  }

  .slide__slider::-ms-track {
    @include slider-track-tablet;
    border-radius: 3px;
  }

  .slide__slider::-ms-fill-lower {
    background: #dcdcdc;
    border-radius: 6px;
  }
}
