.social {
  @include list-style-none;
  @include flex(row, center, stretch, wrap);
  width: 100%;
  height: 100%;
  padding-top: 4px
}

.social__item {
  margin-right: 38px;
  margin-top: auto;
  margin-bottom: auto;
  height: 19px;
  width: 22px;
  display: flex;
  justify-content: flex-start;

  &:nth-child(2) {
    width: 18px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  @include size(100%, 100%);
  @include flex(row, center, center, wrap);
  overflow: visible;
  width: auto;

  &:hover {
    fill: $main-color;
    stroke: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-image--mobile {
  // @include size(auto, auto);
  background-color: inherit;
}

.social__link-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .social__item {
    width: 30px;
    height: 30px;
    margin-right: 28px;

    // text-align: left;

    &:nth-child(2) {
      width: 23px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .social__link-image--mobile {
    display: none;
  }

  .social__link-image {
    display: block;
  }
}
