.table {
  @include font-color-size($main-font-color, none, $table-font-size, $weight-regular, 16px);
  font-family: $arialmt;
}

.table__value {
  text-align: right;

  &--main {
    min-width: 67px;
  }

  &--other {
    width: 137px;
  }
}

.table__param {
  text-align: left;

  &--main {
    min-width: 67px;
  }

  &--other {
    width: 137px;
  }
}
