.table {
  @include font-color-size($main-font-color, none, $table-font-size, $weight-regular, 15px);
  font-family: $arialmt;
  border-collapse: collapse;
}

.table--other {
  margin-top: 12px;
}

.table__line--other {
  font-size: 14px;
  line-height: 1em;
}

.table__value {
  @include padding-left-right(0);
  text-align: right;
}

.table__value--main {
  min-width: 67px;
}

.table__value--other {
  width: 137px;
  margin-top: 11px;
}

.table__param {
  @include padding-left-right(0);
  text-align: left;
}

.table__param--main {
  min-width: 67px;
}

.table__param--other {
  width: 137px;
}

@media (min-width: $tablet-width) {
  .table {
    @include font-color-size($main-font-color, none, $table-font-size-tablet, $weight-regular, 16px);
    @include padding-left-right($card-padding-tablet);
  }

  .table--other {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .table__line--other {
    width: 50%;
    font-size: 16px;
    line-height: 1.25em;
  }

  .table__param,
  .table__value {
    border-bottom: 1px solid $border-color;
    height: 31px;
  }

  .table__param--other,
  .table__value--other {
    border: 0;
    text-align: right;
  }

  .table__value--other {
    width: 58px;
  }
}

@media (min-width: $desktop-width) {
  .table {
    @include padding-left-right($card-padding-desktop);
  }

  .table--other {
    width: 288px;
    margin-top: 6px;
  }

  .table__param--other {
    text-align: left;
  }

  .table__value--other {
    width: 27px;
    text-align: center;
  }
}
