
.title-line {
  border-top: 3px solid $main-color;

  & > h2[class*="-title"] {
    z-index: 1;
    align-self: flex-start;
    width: auto;
    min-height: 30px;
    margin: 0;
    padding-left: $main-padding-mobile;
    transform: translate(0, -50%);
    background-color: $background-color;
  }
}
