// fonts
$oswald: "Oswald";
$arialmt: "Arial MT";

//font-color
$main-font-color: #444444;
$title-font-color: #111111;
$label-font-color: #222222;
$contrast-font-color: #ffffff;

// background-color
$background-color: #ffffff;
$add-background-color: #f2f2f2;
$icon-background-color: #666666;
$main-color: #68b738;
$border-color: #cdcdcd;

// font-size
$table-font-size: 12px;
$main-font-size: 14px;
$card-title-font-size: 16px; //уточнить
$button-font-size: 16px;
$page-title-size: 36px;
$card-title-size: 24px; //уточнить

// font-weight
$weight-regular: 400;
$weight-medium: 500;

// main-pading
$main-padding-mobile: 20px;
